
.ng-invalid.ng-touched {
    background-color: red;
    opacity: .2;
    border: 1px solid black;
}

#modelInput {
    border: 1px solid black;
}

.ng-valid.ng-touched {
    background-color: lawngreen;
}

.error {
    color: red;
}